
.carousel-container {
    position: relative;
    margin: auto;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
}

img {
    width: 100%;
    vertical-align: middle;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    border: none;
    padding: 10px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}