.main {
    min-height: 100vh;
}

.landing {
    &-text {
        width: 50%;
        padding-left: 8.7rem;

        p {
            margin-top: 2rem;
        }
    }

    &-info {
        width: 50%;
        padding-right: 8.7rem;
    }
}

li {
    margin-bottom: 2rem;

    &:hover {
        animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

@property --bg-angle {
    inherits: false;
    initial-value: 0deg;
    syntax: "<angle>";
}

@keyframes spin {
    to {
        --bg-angle: 360deg;
    }
}

.landing-info-img img {
    animation: spin 2.5s infinite linear paused;
    background:
        linear-gradient(to bottom,
            #59D5E0,
            #59D5E0) padding-box,
        conic-gradient(from var(--bg-angle) in oklch longer hue,
            #F5DD61 0 0) border-box;
    border: 3px solid transparent;
    animation-play-state: running;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fdf5e6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    align-items: center;
}

.circles {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.circle {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    color: #fff;
    font-weight: bold;
}

.dribbble {
    margin-bottom: -5rem;
    margin-right: -2rem;
    z-index: 1;
    width: 150px;
    height: 150px;
}

.behance {
    width: 300px;
    height: 300px;
    margin-right: -12rem;
}

.linkedin {
    margin-right: -30rem;
    margin-top: -11rem;
}

.content {
    width: 50%;
    margin-left: 12rem;
}

.contact-info {
    display: flex;
    justify-content: space-between;
}

.desc {
    width: 50%;
    
}
